<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/block">Block Users</a>
    <a href="/unblock">Unblock Users</a><br>
    <a href="/admin-0-adpage">Return to Admin Page</a><br>
    <hr>
    <ol>
    {% if bl==[] %}
    <h2>No Blocked Users</h2>
    {% else %}
    {% for b in bl %}
        <li>{{b.user_name}}</li>
    {% endfor %}
    {% endif %}
    </ol>


    
</body>
</html>