<!DOCTYPE html>
{% extends "logbase.html"%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Landing Page{% endblock %}</title>
   
    
    
    
</head>
<body>
    {% block content %}
    
     <div><center>
        <br><br>
    <h1>Welcome </h1></center>
    </div><br><br> <br><br>

 <div style="border: 2px  rgb(205, 199, 199);margin-left: 30%; margin-right: 30%; background-color: rgb(204, 253, 204); box-shadow:rgb(120, 184, 146);">
    <!-- Content here -->
    <center>
    <br><br>
    <a href="/user_login">Login to get Started</a><br><br>
    <a href="/user_signup">New User? Sign-Up</a><br><br>
    <a href="/admin_login">Admin Login</a><br><br><br>
</center>
    <div>
    
</div>
</div>

  
</body>
{% endblock %}
</html>