<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span>
        
        <a href="/block">Block Users</a><br>
        
        <a href="/admin-0-adpage">Return to Admin Page</a>
    </span>
    <div>
    <form method="post">
        <label>Enter user name to block:</label>
        <input type="text" name="bname"/><br>
        <input type=submit value=Unblock>

    </form>
    </div>
    <hr>
    {% if ulist!=[] %}
    <ul>
    {% for u in ulist %}
    <li>{{u.user_id}}. {{u.user_name}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
</body>
</html>